.c-offcanvas-menu {
  align-items: center;
  background-color: #363636;
  color: #fcfcfc;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: all 235ms cubic-bezier(.95, .05, .795, .035);
  width: 100vw;
}


/* classe do toggle */
.c-offcanvas-menu.is-active {
  transform: none;
  transition: all 205ms cubic-bezier(.19, 1, .22, 1);
}
